*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* 
:root {
    --orange: #252eb4;
    --winning-blocks: #c7d7df;
} */

body {
    color: var(--orange);
    /* font-family: 'Finger Paint', cursive; */
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
h1 {
    font-size: 54px;
    text-transform: uppercase;
}

.container {
    padding: 40px;
    height: 80vh;
    border-radius: 40px;
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: linear-gradient(to bottom left,rgb(245, 129, 129),rgb(133, 237, 133),rgb(124, 124, 227),rgb(225, 196, 142),rgb(166, 234, 234));
}

#gameboard {
    width: 300px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;
}
.box {
    height: 100px;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(86, 85, 85);
    font-size: 120px;
    border-right: 2px solid;
    border-bottom: 2px solid;
    border-left: 2px solid;
    border-top: 2px solid;
}
button {
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
    background-color: gray;
    color: #f5f3f3;
    font-size: 18px;
    transition: 200ms transform;
    font-weight: 600;
}
button:hover {
    cursor: pointer;
    transform: translateY(-2px);
}